**Set**

* index ile erişilemezler. Unordered yani sıralı değillerdir. (Bir sete erişmek istediğinizde sıralama her seferinde farklılaşacaktır.)
* Set'ler değiştirilemezler, yani immutable. Tupledan farkı sete yeni eleman ekleyip çıkarabiliyoruz. Ama setin içerisindeki bir elemanı değiştiremiyoruz.
* {} parantez içerisinde tanımlanır. Elemanlar virgül ile ayrılır.
* Farklı tipte veri taşımaya izin verir. 
* Aynı değere sahip iki eleman YER ALAMAZ. Duplicate veri taşımazlar.

In [1]:
int_set = {1,2,3,4}
string_set = {"Rüveyda", "Ece", "Merve", "Zeynep", "Bilge"}

mix_set = {12, "Sude", 10234.6, True, False}

In [2]:
print(mix_set)

{'Sude', True, 10234.6, 12}

In [3]:
print(type(mix_set))

<class 'set'>

In [5]:
my_set = {1, 3, 8, 1, 2, 8, 0, 9}
print(my_set)

{0, 1, 2, 3, 8, 9}

In [8]:
my_list = [3, 8, 2, "Ece", "Ece", True, 8, False, 9, 19, False, 3, 2]
print(my_list)

my_set = set(my_list)
print(my_set)

[3, 8, 2, 'Ece', 'Ece', True, 8, False, 9, 19, False, 3, 2]
{False, True, 2, 3, 8, 9, 19, 'Ece'}

In [10]:
#Set içerisinde tuple kullanımı
my_set = {"Ayşe Nur", "Duygu", "Başak", ("Müzeyyen", "İrem", "Nihal")}

print(my_set)

{'Başak', 'Ayşe Nur', 'Duygu', ('Müzeyyen', 'İrem', 'Nihal')}

In [11]:
#Set içerisinde list kullanımı
my_set = {"Ayşe Nur", "Duygu", "Başak", ["Müzeyyen", "İrem", "Nihal"]}

print(my_set)

TypeError: unhashable type: 'list'

Boş bir set oluşturma

Boş bir liste ve tuple oluşturmak istediğimizde;
* my_list = []
* my_tuple = ()

Setlerde durum farklı

In [12]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [13]:
empty_set = {}
print(type(empty_set))

<class 'dict'>

Elemanlara Erişim

In [14]:
movies = {"How I met your mother", "The big bang theory", "Breaking Bad", "Friends", "Person of Interest"}

for item in movies:
    print(item)

The big bang theory
Person of Interest
How I met your mother
friends
breaking bad

Set içerisinde eleman kontrolü

In [15]:
movies = {"How I met your mother", "The big bang theory", "Breaking Bad", "Friends", "Person of Interest"}

if "Harry Potter" in movies: print("Diziler içerisinde mevcut")
else: print("Diziler içerisinde mevcut değil")

Diziler içerisinde mevcut değil

In [17]:
print("Dizi setinin uzunluğu", len(movies))

Dizi setinin uzunluğu 5

Bir Set'e Eleman ekleme

* add() ile sete yeni bir eleman eklenir
* update() ile de birden fazla ekleme işlemi yapılır.

In [19]:
#add
books = {"Harry Potter", "Serenad", "Müşterinizin Beynindeki Satın Alma Düğmesine Basmak", "Merhaba Dünya"}

books.add("Bu İş Asla Tutmaz")
print(books)

books.add("Harry Potter") #mevcutta var olan bir elemanı eklemez
print(books)

{'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Harry Potter', 'Merhaba Dünya', 'Serenad', 'Bu İş Asla Tutmaz'}
{'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Harry Potter', 'Merhaba Dünya', 'Serenad', 'Bu İş Asla Tutmaz'}

In [21]:
#update
books.update(["Körlük", "İnce Memed"])

print(books)

{'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Harry Potter', 'Merhaba Dünya', 'Serenad', 'Bu İş Asla Tutmaz', 'İnce Memed', 'Körlük'}

Bir Set içerisinden Eleman Silme

* remove()
* discard()
* pop()
* clear()
* del set

In [22]:
#remove()
books = {'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Harry Potter', 'Merhaba Dünya', 'Serenad', 'Bu İş Asla Tutmaz', 'İnce Memed', 'Körlük'}

books.remove("Harry Potter")
books

{'Bu İş Asla Tutmaz',
 'Körlük',
 'Merhaba Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad',
 'İnce Memed'}

In [24]:
#Set içerisinde olmayan bir değeri silmek istersek hata alırız
books.remove("Harry Potter")
books

KeyError: 'Harry Potter'

In [26]:
#discard -> remove'dan tek farkı olmayan bir elemanı silmeye çalışırken hata alınmaz
books.discard("Müşterinizin Beynindeki Satın Alma Düğmesine Basmak")

books

{'Bu İş Asla Tutmaz', 'Körlük', 'Merhaba Dünya', 'Serenad', 'İnce Memed'}

In [27]:
books.discard("Harry Potter")

books

{'Bu İş Asla Tutmaz', 'Körlük', 'Merhaba Dünya', 'Serenad', 'İnce Memed'}

In [29]:
#pop()
books.pop()

books

{'Bu İş Asla Tutmaz', 'Körlük', 'İnce Memed'}

In [30]:
#clear() 
books.clear()

books

set()

In [31]:
#del
del books

books

NameError: name 'books' is not defined

Set üzerinde kullanabileceğimiz operatörler

* union() -> |
* intersection() -> &
* difference() -> -
* symmetric_difference() -> ^

**Union()**

İki seti birleştirmek için kullanılır.

In [32]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 | my_set2
my_set3

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

In [33]:
my_set4 = my_set1.union(my_set2)

my_set4

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

**Intersection(Kesişim)**

İki küme içerisinde yer alan ortak elemanları döndürür

In [34]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 & my_set2

my_set3

{'Ezgi', 'Merve'}

In [35]:
my_set4 = my_set1.intersection(my_set2)

my_set4

{'Ezgi', 'Merve'}

intersection_update

In [36]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set1.intersection_update(my_set2)
my_set1

{'Ezgi', 'Merve'}

**Difference**

In [37]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 - my_set2

my_set3

{'Asena', 'Aysel', 'Emre'}

In [38]:
my_set1.difference(my_set2)

{'Asena', 'Aysel', 'Emre'}

In [39]:
my_set1

{'Asena', 'Aysel', 'Emre', 'Ezgi', 'Merve'}

In [40]:
my_set1.difference_update(my_set2)

In [41]:
my_set1

{'Asena', 'Aysel', 'Emre'}

**Symmetric difference**

In [42]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

unique_set = my_set1 ^ my_set2
unique_set

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [43]:
unique_set2 = my_set2.symmetric_difference(my_set1)
unique_set2

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [44]:
my_set1.symmetric_difference_update(my_set2)

my_set1

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

**Kopyalama İşlemleri**

* copy()
* =
* set()

In [45]:
# = operatörü ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set

my_set.add("Vildan")
my_set2

{18, 'Ahmet', 'Sezen', True, 'Vildan'}

In [46]:
#copy metodu ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set.copy()

my_set.add("Vildan")
my_set2

{18, 'Ahmet', 'Sezen', True}

In [47]:
#set metodu ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = set(my_set)

my_set.add("Vildan")
my_set2

{18, 'Ahmet', 'Sezen', True}

subset(alt küme) and superset(üst küme)

In [49]:
languages = {"python", "c#", "java", "kotlin", "dart"}
languages2 = {"kotlin", "java"}

print(languages.issuperset(languages2))
print(languages.issubset(languages2))

True
False

isdisjoint() -> iki kümenin ayrık kümeler olup olmadığını kontrol eder

In [51]:
languages = {"python", "c#", "java", "kotlin", "dart"}
languages2 = {"flutter"}

print(languages.isdisjoint(languages2))

True

Frozenset -> değişmez bir set oluşturmak istenildiğinde kullanılır

In [52]:
frozen_set = frozenset({"Nihan", "Edanur", "Buse", "Sena"})

In [53]:
frozen_set.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

In [54]:
#iki set içerisinde yer alan benzersiz elemanları ekrana basalım

my_set1 = {10, 20, 30, 40, 50}
my_set2 = {40, 50, 60, 80}

print(my_set1.symmetric_difference(my_set2))

{10, 80, 20, 60, 30}

In [56]:
#Bir listenin tüm elemanlarını bir sete ekleme işlemini yapalım

my_list = [1, 2, 9, 3, 4]
my_set = {1, 4, 7, 9, 0}

my_set.update(my_list)
my_set

{0, 1, 2, 3, 4, 7, 9}

In [59]:
#Bir set içerisinde yer alan çift sayıları sil
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

my_list = [i for i in my_set if i % 2 == 0] #list comprehension
#my_list = []
#for item in my_set:
#    if item % 2 == 0:
#        my_list.append(item)

for i in my_list:
    my_set.remove(i)

my_set

{1, 3, 5, 7, 9}